/* ------- Définition des fonts ------- */

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('../fonts/poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('../fonts/poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins ExtL';
  src: url('../fonts/poppins/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Black';
  src: url('../fonts/poppins/Poppins-Black.ttf') format('truetype');
}


.login_wrapper {
  position: relative;
  top: 18vw;
  left: 25vw;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 50vw;
  height: 20vw;
  background: linear-gradient(25deg, rgba(165, 215, 213, 1) 0%, rgba(170, 207, 213, 1) 18.55%, rgba(184, 183, 214, 1) 48.04%, rgba(189, 176, 214, 1) 56.04%, rgba(193, 190, 223, 1) 78.94%, rgba(195, 197, 228, 1) 100%);
}

.email_input, .passw_input {
  width: 15vw;
  border-radius: .5vw;
  border: none;
  height: 2vw;
  margin: 1vw 0;
}


.first_line_wrapper, .second_line_wrapper {
  color: #fff;
  display: flex;
  flex-direction: row;
  margin-top: 1vw;
  font-size: 2vw;
}

.first_line_wrapper label, .second_line_wrapper label {
  /* AJOUTER LA  FONTE  */
  font-family: 'Poppins Bold';
  font-size: 1.7vw;
}

.first_line_wrapper div input {
  margin: .5vw;
}

.second_line_wrapper label {
  position: relative;
  top: .7vw;
}

.last_wrapper{
  cursor: pointer;
  position: relative;
  top: 3vw;
}
.connect {
  text-align: center;
  color: #fff;
  background-color: #054872;
  border-style: none;
  font-family: "Poppins Bold";
  font-size: 1.1vw;
  margin: 0 3vw;
  padding: 0 1vw;
  box-shadow: 0px 4px 3px 0px rgba(54, 77, 92, 0.19);
}

footer {

  top: 80vw;

}
