body {
    background: url('../img/bg/img_fond_notre_asso.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

/* DÉBUT DE LA PAGE NOTRE ASSO */

.gallery_wrapper {
    overflow-x: hidden;
    position: relative;
    top: 8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gallery img {
    width: 40vw;
    height: 25vw;
    margin: 0 .2vw;
}

.tel_projet {
    position: relative;
    text-align: center;
    color: #fff;
    background-color: #054872;
    border-style: none;
    font-family: "Poppins Bold";
    font-size: 1.8vw;
    left: 32%;
    top: 12vw;
    padding: 0 2vw;
    box-shadow: 0px 4px 3px 0px rgba(54, 77, 92, 0.19);
}

.a_propos_de_nous {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 7.8vw;
    margin: 0 15vw;
}

.a_propos_de_nous h1 {
    position: relative;
    top: -.2vw;
    font-size: 2.5vw;
    color: #054872;
    font-family: "Poppins Bold";
}

.a_propos_de_nous p {
    position: relative;
    top: -1vw;
    font-size: 1.4vw;
    font-family: "Poppins Bold";
    color: #054872;
}

.a_propos_de_nous .a_propos_2 {
    margin-left: 6vw;
}


footer {
    top: 80vw;
    height: 15vw;
}

/*---------- @media queries ----------*/

@media screen and (max-width:425px) {
    .a_propos_de_nous {
        top: 7.8vw;
        margin: 0 5vw;
    }
    .a_propos_de_nous h1 {
        top: 2vw;
        font-size: 3.2vw;
    }
    .a_propos_de_nous p {
        top: -1vw;
        font-size: 2.7vw;
    }
    .a_propos_de_nous .a_propos_2 {
        margin-left: 6vw;
    }
    .gallery_wrapper {
        top: 14vw;
    }
    .tel_projet {
        position: relative;
        text-align: center;
        color: #fff;
        background-color: #054872;
        border-style: none;
        font-family: "Poppins Bold";
        font-size: 2.5vw;
        left: 25%;
        top: 16vw;
        padding: 0 2vw;
        box-shadow: 0px 4px 3px 0px rgba(54, 77, 92, 0.19);
    }
    .nos_sejours {
        top: 115vw;
    }
    footer {
        top: 185vw;
        height: 240vw;
    }
}

@media screen and (min-width:426px)and ( max-width:768px) {
    .a_propos_de_nous {
        top: 7.8vw;
        margin: 0 5vw;
    }
    .a_propos_de_nous h1 {
        top: 2vw;
        font-size: 3.2vw;
    }
    .a_propos_de_nous p {
        top: -1vw;
        font-size: 2.7vw;
    }
    .a_propos_de_nous .a_propos_2 {
        margin-left: 6vw;
    }
    .gallery_wrapper {
        top: 14vw;
    }
    .tel_projet {
        position: relative;
        text-align: center;
        color: #fff;
        background-color: #054872;
        border-style: none;
        font-family: "Poppins Bold";
        font-size: 2.5vw;
        left: 25%;
        top: 16vw;
        padding: 0 2vw;
        box-shadow: 0px 4px 3px 0px rgba(54, 77, 92, 0.19);
    }
    .nos_sejours {
        top: 115vw;
    }
    .list_sejours {
        left: 3vw;
    }
    .instruction {
        font-family: "Poppins Regular";
        top: -1.3vw;
        font-size: 1.7vw;
    }
    .tel_doss {
        font-size: 1.7vw;
        top: -1.8vw;
    }
    .top_mail {
        top: -.8vw;
        font-size: 1.7vw;
    }
    .address {
        top: -.8vw;
        font-size: 1.7vw;
    }
    .top_courrier {
        top: -.7vw;
        font-size: 1.7vw;
    }
    .courrier {
        font-size: 1.7vw;
        top: -.5vw;
    }
    .detail_inscription {
        top: 1.4vw;
        font-size: 1.7vw;
        padding: 0 1vw;
    }
    footer {
        flex-direction: column;
        top: 141vw;
        height: 170vw;
    }
    footer .foot_content_pair {
        margin: 10vw 0;
    }
    footer .foot_content {
        width: 50vw;
        height: 55vw;
    }
    footer p {
        font-size: 1.7vw;
    }
    .fb_img, .map_img, .mail_img, .phone_img {
        height: 5vw;
    }
    .fb_container h3, .map_container h3, .mail_container h3, .postuler, .telephone, .cgv h3 {
        font-size: 2.7vw;
    }
    .telephone {
        margin: 1vw;
    }
    .fb_container .officiel, .gps, .num_1 p, .num_2 p, .foot_content .text_cgv, .foot_content .foot_address .address_para, .foot_content .cgv_lien p, .ou {
        font-size: 1.8vw;
        text-align: center;
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    footer {
        top: 122vw;
        height: 15vw;
    }
}