/* ------- Définition des fonts ------- */

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  background-image: url('../img/img_fond.svg') ;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  min-height: 100%;
}

.logo {
  width: 100%;
  height: auto;
  position: relative;
}

.dot {
  height: 28px;
  width: 28px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
}

/* Navbar */

.nav_container {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: #364D5C;
  font-size: 20px;
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 144px;
  font-family: 'Poppins';
  z-index: 1;
  box-shadow: 0px 4px 7px 0px rgba(54, 77, 92, 0.7);
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Links */

li {
  display: inline;
}

/* unvisited link */

a:link, a:visited {
  color: rgb(243, 240, 240);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* mouse over link */

a:hover {
  text-decoration: none;
}

/* selected link */

a:active {
  color: blue;
}

/* ----------1 index.php ---------- */

.wrapper {
  text-align: center;
  align-self: center;
  top: 200px;
  height: 100%;
}

.news {
  /* colors */
  /* sizing */
  display: flex;
  flex-direction: row;
  width: 1051px;
  /* Justify */
  justify-content: space-around;
  /* POSITION */
  position: absolute;
  left: 420px;
  top: 890px;
}

.clock {
  /* colors */
  background-color: #364D5C;
  /* sizing */
  margin-right: 6px;
  width: 163px;
  height: 163px;
  border-radius: 10px;
  /* Justify */
  position: relative;
}

.nos_sejours {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 1317px;
  height: 532px;
  background: linear-gradient(25deg, rgba(165, 215, 213, 1) 0%, rgba(170, 207, 213, 1) 18.55%, rgba(184, 183, 214, 1) 48.04%, rgba(189, 176, 214, 1) 56.04%, rgba(193, 190, 223, 1) 78.94%, rgba(195, 197, 228, 1) 100%);
  margin: 0 302px 850px 302px;
}

/* ---------- 2 apropos.php ---------- */

/* ---------- 3 nossejours.php ---------- */

/*---------- 4 actualites.php ----------*/

/*---------- 5 contact.php ----------*/

/*---------- 4 footer.php ----------*/

footer {
  position: absolute;
  /* top: 2260px; */
  top: 220%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 554px;
}

.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
}

.foot_content {
  text-align: center;
  background: linear-gradient(25deg, rgba(165, 215, 213, 1) 0%, rgba(170, 207, 213, 1) 18.55%, rgba(184, 183, 214, 1) 48.04%, rgba(189, 176, 214, 1) 56.04%, rgba(193, 190, 223, 1) 78.94%, rgba(195, 197, 228, 1) 100%);
  z-index: 3;
  width: 462px;
  height: 462px;
}

.logo_fb {
  width: 65px;
}

.map {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 39px;
  margin-left: 39px;
}

.map_img {
  width: 37px;
  height: 70px;
}

.cgv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_nav {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 237px;
  background-color: #364D5C;
  box-shadow: 0px 0px 7px 4px rgba(54, 77, 92, 0.4);
}

/*---------- 4 tests.php ----------*/

/*---------- @media queries ----------*/

@media screen and(max-width:568px) and(max-height:320x) {
  footer {
    width: 100%;
  }
}