/* ------- Définition des fonts ------- */

@font-face {
  font-family: Poppins;
  src: url('/fonts/Poppins-ExtraBold.ttf') format('truetype');
}

body {
  background-image: url('./img/background.svg');
}

.logo_container {
  z-index: 1;
  position: fixed;
}

.logo {
  width: 177px;
  position: fixed;
  left: 39px;
  top: 28px;
}

.dot {
  height: 28px;
  width: 28px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
}

/* Navbar */

.nav_container {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: rgb(54, 77, 92);
  height: 11%;
  font-size: 20px;
  position: fixed;
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
  height: 144px;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Links */

li {
  display: inline;
}

/* unvisited link */

a:link, a:visited {
  color: rgb(243, 240, 240);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Poppins;
}

/* mouse over link */

a:hover {
  text-decoration: none;
}

/* selected link */

a:active {
  color: blue;
}

/* ----------1 index.php ---------- */

.wrapper {
  text-align: center;
  align-self: center;
  position: relative;
  top: 200px;
}

.news {
  /* colors */
  /* sizing */
  display: flex;
  flex-direction: row;
  min-height: 300px;
  justify-content: space-between;
  /* Justify */
}

.clock {
  /* colors */
  background-color: #364D5C;
  /* sizing */
  margin: 0 15px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  /* Justify */
}

p {
  font-family: Poppins;
}

/* ---------- 2 apropos.php ---------- */

/* ---------- 3 nossejours.php ---------- */

/*---------- 4 actualites.php ----------*/

/*---------- 5 contact.php ----------*/

/*---------- 4 footer.php ----------*/

.foot_content {
  text-align: center;
  background: linear-gradient(25deg, rgba(165, 215, 213, 1) 0%, rgba(170, 207, 213, 1) 18.55%, rgba(184, 183, 214, 1) 48.04%, rgba(189, 176, 214, 1) 56.04%, rgba(193, 190, 223, 1) 78.94%, rgba(195, 197, 228, 1) 100%);
  padding: 15px;
  width: 400px;
  height: 400px;
  position: relative;
  top: 150px;
}

.map {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 39px;
  margin-left: 39px;
}

.map_img {
  width: 75px;
  height: auto;
}

.cgv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 222px;
}

.footer_nav {
  position: relative;
  bottom: 0px;
  height: 237px;
  background-color: #364D5C;
  z-index: 2;
}
/*---------- 4 tests.php ----------*/


/*---------- @media queries ----------*/